*{
  margin : 0;
  padding : 0;
  font-family: 'Noto Sans KR', sans-serif;
}

.hidden {
  display : none;
}
.white-color{
  color:white;
}
#login-form input{
  padding : 10px;
}
#todo-form input{
  display: block;
  width: 220px;
  margin: 0 auto;
  padding: 10px;
}
#todo-list{
  text-align: center;
}
#clock{
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}

#weather {
  position: absolute;
  top: 1%;
  right: 2.5%;
}
#greeting{
  text-align: right;
}
#quote{
  margin: 25px;
}
/* common */
form{
  margin-bottom: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin : 0 auto;
  position: absolute;
  top: 0;
  z-index: -1;
}
span {
  color: white;
  font-size: 20px;
  text-align: center;
}
input{
  border: 0;
  font-size: 16px;
}
input[type=submit]{
  background-color: rgb(245, 245, 220, 0.8);
}
input[type=submit]:hover{
  background-color:white;
}
input[type=submit]:active{
  background-color:gray;
}

@media (max-width:768px){

  #weather span{
    font-size: 12px;    
  }
  #clock{
    font-size: 48px;
  }
  h1{
    font-size: 16px;
  }
  img{
    height: 100%;
  }
  #quote span{
    font-size : 14px;
  }
}