*{
  margin : 0;
  padding : 0;
  font-family: 'Noto Sans KR', sans-serif;
}

body{
  max-width: 1400px;
  width: 100%;
}

.hidden {
  display : none;
}
#login-form{
}
#login-form input{
  padding : 5px;
}

#clock{
  color : blue;
  font-size: 96px;
  font-weight: 900;
  text-align: center;
}